<app-page-tob-bar></app-page-tob-bar>

<div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="25">
        first-section
    </div>
    <div fxFlex="25">
        second-section
    </div>
    <div fxFlex="25">
        third-section
    </div>
    <div fxFlex="25">
        fort-section
    </div>
    
    <div fxFlex="25">
        2first-section
    </div>
    <div fxFlex="25">
        2second-section
    </div>
    <div fxFlex="25">
        2third-section
    </div>
    <div fxFlex="25">
        2fort-section
    </div>
</div>